
    <div class="contact-wrapper">
      <div class="contact-info">
        <a href="https://github.com/Mong005e">GitHub</a>
        <a href="mailto:droo.hastings@gmail.com?Subject=Lets%20connect" target="_top">Send Mail</a>
      </div>
      </div>
      <img src="../../DH1.png" class="logo" alt="Droo Hastings logo">
      <div class="container">
        <div class="overlay">
          <div class="text">
          <a href="https://www.w3schools.com">create.</a>
          <a href="https://www.w3schools.com">develope.</a>
          <a href="https://www.w3schools.com">connect.</a>
          </div>
        </div>
      </div>
    </div>
